<h1>Stats</h1>

<h2>Registered Members</h2>
<table>
    <thead>
        <td>PID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{ user.pid }}</td>
            <td>{{ user.first_name}}</td>
            <td>{{ user.last_name }}</td>


            <td>
                 <button value="Delete" type="button" (click)="remove_user(user.pid)">Delete</button>
                
            </td>

            
        </tr>
    </tbody>
</table>

<hr>

<h2>Checked In Members</h2>
<table>
    <thead>
        <td>Name</td>
        <td>Time</td>
    </thead>
    <tbody>
        <tr *ngFor="let checkin of checkins$ | async">
            <td>{{ checkin.user.first_name + " " + checkin.user.last_name}}</td>
            <td>{{ checkin.created_at.getFullYear() + "/" + checkin.created_at.getMonth() + "/" + checkin.created_at.getDate() + " @ " + checkin.created_at.toLocaleString('en-US', {hour: 'numeric', minute: 'numeric', hour12: true}) }}</td>
        </tr>
    </tbody>
</table>

<hr>

<a routerLink="/">Home</a>